# Ignore node_modules directory
/node_modules
__pycache__
.env
venv
data
/Stock_List

# Ignore log files
*.log

# Ignore compiled files
*.class

# Ignore specific output and files
secret_config.json
stock_ranking.csv
stock_ranking.html
ind_nifty500list.csv
ind_nifty200list.csv