.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  cursor: pointer;
}

.file-upload .file-upload-label {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 16px;
}

.file-upload .file-upload-label:hover {
  background-color: #303f9f;
}

.file-upload .file-upload-input {
  display: none;
}

.file-upload button {
  margin: 16px 0;
}

.file-upload .message {
  font-size: 1rem;
  color: #ff0000;
}

.file-upload .results {
  margin-top: 16px;
}

.file-upload .results a {
  text-decoration: none;
  color: #3f51b5;
}

.file-upload .results a:hover {
  text-decoration: underline;
}

/* .App {
  text-align: center;
}

.App-header {
  background-color: #82a1e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin-bottom: 10px;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
} */
